<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Binding
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="3">
          <ion-item> 
            <ion-label position="floating"> Nombre </ion-label>
            <ion-input (keyup.enter)="addPerson(name)" placeholder="Introduce el nombre" [(ngModel)]="name"></ion-input>
          </ion-item>
      
          <ion-button expand="full" (click)="addPerson(name)">Añadir</ion-button>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="12" size-sm="3"  *ngFor="let person of people">
          <div>
            <ion-text id="empty-list" color="warning" *ngIf="people.length==0" >No existen personas!!</ion-text>
          </div>
          
          <app-person [data]="person" (onremove)="removePerson($event)"></app-person>
        </ion-col>
        
      </ion-row>
      
    </ion-grid>
    

    

    <!-- <ion-card *ngFor="let person of people">
      <ion-card-header>
        <ion-card-title>{{person.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-button (click)="removePerson(person.id)">Borrar</ion-button>
      </ion-card-content>

    </ion-card> -->

    <!-- <ion-text color="warning"{{name}}></ion-text> -->

    <!-- <div id="container">
      <strong>Ready to create an app?</strong>
      <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    </div> -->
</ion-content>
